---

import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import beming from '../assets/img/Logos-Alianzas/bemingLogo.webp'
import bezer from '../assets/img/Logos-Alianzas/bezerLogo.webp'
import euskal from '../assets/img/Logos-Alianzas/euskalLogo.webp'
import archea from '../assets/img/Logos-Alianzas/archeaLogo.webp'
import solartex from '../assets/img/Logos-Alianzas/solartexLogo.webp'
import ankur from '../assets/img/Logos-Alianzas/ankurLogo.webp'

---

<Layout title="4NE - Acerca de">
	<main>
		<h1 class="is-size-3 has-text-centered mt-6">Acerca de Nosotros</h1>
		<div class="my-2">
			<h2 class="is-size-4 py-6"> - Nuestra Experiecia</h2>
			<p class="is-size-5-5">Contamos con un equipo de profesionales con una trayectoria de más de 25 años en el campo de las Energías Renovables (EERR), bajo la dirección técnica e integración de proyectos de Darío Gentile (Ing. Mecánico, Especialidad en EERR) Brindando servicios de análisis de factibilidad ejecución de proyectos energéticos integrales, ingeniería conceptual, básica y de ejecución de proyectos con modalidad EPC. Servicios de OyM, puesta en marcha y seguimiento, capacitación del personal.
			</p>
		</div>
		<div class="my-2">
			<h2 class="is-size-4 py-6"> - Asociaciones Estrategicas</h2>
			<div class="carousel carousel-desktop">
				<div class="is-flex carousel-inner-desktop">
					<div class="carousel-item-desktop is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={bezer} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={beming} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={euskal} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-desktop is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={archea} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={solartex} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={ankur} alt='Logo de 4NE'/> 
						</a>
					</div>
				</div>
				<button class="prev" >&#10094;</button>
				<button class="next" >&#10095;</button>
			</div>
			<div class="carousel carousel-tablet">
				<div class="is-flex carousel-inner-tablet">
					<div class="carousel-item-tablet is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={bezer} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={beming} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-tablet is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={euskal} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={archea} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-tablet is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={solartex} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={ankur} alt='Logo de 4NE'/> 
						</a>
					</div>
				</div>
				<button class="prev" >&#10094;</button>
				<button class="next" >&#10095;</button>
			</div>
			<div class="carousel carousel-mobile">
				<div class="is-flex carousel-inner-mobile">
					<div class="carousel-item-mobile is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={bezer} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-mobile is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={beming} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-mobile is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={euskal} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-mobile is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={archea} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-mobile is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={solartex} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item-mobile is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={ankur} alt='Logo de 4NE'/> 
						</a>
					</div>

				</div>
				<button class="prev" >&#10094;</button>
				<button class="next" >&#10095;</button>
			</div>
		</div>
	</main>
</Layout>


<script>
	let currentIndexDesktop = 0;
	let currentIndexTablet = 0;
	let currentIndexMobile = 0;

function moveCarousel(direction) {
	const itemsDesktop = document.querySelectorAll('.carousel-item-desktop');
	const itemsTablet = document.querySelectorAll('.carousel-item-tablet');
	const itemsMobile = document.querySelectorAll('.carousel-item-mobile');
	const totalItemsDesktop = itemsDesktop.length;
	const totalItemsTablet = itemsTablet.length;
	const totalItemsMobile = itemsMobile.length;

	currentIndexDesktop = (currentIndexDesktop + direction + totalItemsDesktop) % totalItemsDesktop;
	currentIndexTablet = (currentIndexTablet + direction + totalItemsTablet) % totalItemsTablet;
	currentIndexMobile = (currentIndexMobile + direction + totalItemsMobile) % totalItemsMobile;

	const carouselInnerDesktop = document.querySelector('.carousel-inner-desktop');
	const carouselInnerTablet = document.querySelector('.carousel-inner-tablet');
	const carouselInnerMobile = document.querySelector('.carousel-inner-mobile');

	carouselInnerDesktop.style.transform = `translateX(-${currentIndexDesktop * 100}%)`;
	carouselInnerTablet.style.transform = `translateX(-${currentIndexTablet * 100}%)`;
	carouselInnerMobile.style.transform = `translateX(-${currentIndexMobile * 100}%)`;
}

const buttonsPrev = document.querySelectorAll(".prev")
const buttonsNext = document.querySelectorAll(".next")

	buttonsPrev.forEach((button) => {
		button.addEventListener( "click", () => moveCarousel(-1))
	})
	buttonsNext.forEach((button) => {
		button.addEventListener( "click", () => moveCarousel(1))
	})

	setInterval(() => {
		moveCarousel(1)
	}, 5000);

</script>