---

import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import beming from '../assets/img/Logos-Alianzas/bemingLogo.webp'
import bezer from '../assets/img/Logos-Alianzas/bezerLogo.webp'
import euskal from '../assets/img/Logos-Alianzas/euskalLogo.webp'
import archea from '../assets/img/Logos-Alianzas/archeaLogo.webp'
import solartex from '../assets/img/Logos-Alianzas/solartexLogo.webp'
import ankur from '../assets/img/Logos-Alianzas/ankurLogo.webp'

---

<Layout title="4NE - Acerca de">
	<main>
		<h1 class="is-size-1 has-text-centered mt-6">Acerca de Nosotros</h1>
		<div class="my-2">
			<h2 class="is-size-3 py-6"> - Nuestra Experiecia</h2>
			<p class="is-size-5">Contamos con un equipo de profesionales con una trayectoria de más de 25 años en el campo de las Energías Renovables (EERR), bajo la dirección técnica e integración de proyectos de Darío Gentile (Ing. Mecánico, Especialidad en EERR) Brindando servicios de análisis de factibilidad ejecución de proyectos energéticos integrales, ingeniería conceptual, básica y de ejecución de proyectos con modalidad EPC. Servicios de OyM, puesta en marcha y seguimiento, capacitación del personal.
			</p>
		</div>
		<div class="my-2">
			<h2 class="is-size-3 py-6"> - Asociaciones Estrategicas</h2>
			<div class="carousel">
				<div class="is-flex carousel-inner">
					<div class="carousel-item is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={bezer} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={beming} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={euskal} alt='Logo de 4NE'/> 
						</a>
					</div>
					<div class="carousel-item is-flex is-justify-content-space-around">
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={archea} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={solartex} alt='Logo de 4NE'/> 
						</a>
						<a class="is-flex is-align-items-center" href="/">
							<Picture class="image-ali image" src={ankur} alt='Logo de 4NE'/> 
						</a>
					</div>
				</div>
				<button class="prev" >&#10094;</button>
				<button class="next" >&#10095;</button>
			</div>
		</div>
	</main>
</Layout>


<script>
	let currentIndex = 0;

function moveCarousel(direction) {
	const items = document.querySelectorAll('.carousel-item');
	const totalItems = items.length;

	currentIndex = (currentIndex + direction + totalItems) % totalItems;

	const carouselInner = document.querySelector('.carousel-inner');

	carouselInner.style.transform = `translateX(-${currentIndex * 100}%)`;
}

const buttonPrev = document.querySelector(".prev")
const buttonNext = document.querySelector(".next")


	buttonPrev.addEventListener( "click", () => moveCarousel(-1))
	buttonNext.addEventListener( "click", () => moveCarousel(1))

	setInterval(() => {
		moveCarousel(1)
	}, 5000);

</script>