---
import Layout from "../layouts/Layout.astro";

import proyect from "../assets/proyect.json";
---

<Layout title="Proyectos de Energías Renovables e Ingeniería en Oil & Gas - 4NE" description="Descubre nuestros proyectos en energías renovables, biogás y oil & gas, con un enfoque en ingeniería EPC y consultoría técnica.">
	<script src="../scripts/changeType.js"></script>
	<main>
		<h1
			class="has-text-centered is-size-3 mt-5 mb-6"
			id="title-secction-ing-proyect"
		>
			Proyectos de Energía Renovable y Oil & Gas de 4NE
		</h1>
		<div id="service-ing-container">
			<div>
				<div>
					<div
						class="is-flex is-justify-content-space-around has-text-centered div-proyect-conteiner"
					>
						<div
							class="is-flex is-flex-direction-column is-justify-content-center div-proyect"
						>
							<h2 class="is-size-4 mb-5">En obra</h2>
							{
								proyect.ingenieria.proyect.inProgress.map(
									(proyect, index) => (
										<div class="my-6">
											<h3 class="is-size-5 mb-2">
												{proyect.title}
											</h3>
											{proyect.cliente ? (
												<p class="mb-2">
													<i class="fa-solid fa-user-tie mr-2 logo-client" />{" "}
													<b>{proyect.cliente}</b>
												</p>
											) : (
												""
											)}
											<p class="mb-2">
												<i class="fa-solid fa-location-dot mr-2 logo-client" />{" "}
												<b>{proyect.ubicacion}</b>
											</p>
											<p class="is-size-6 mb-5">
												{proyect.description}
											</p>
											<p class="mb-2">
												<b>Impacto: </b>
												{proyect.impacto}
											</p>
										</div>
									)
								)
							}
						</div>
						<div
							class="is-flex is-flex-direction-column is-justify-content-center div-proyect"
						>
							<h3 class="is-size-4 mb-5">Finalizados</h3>
							{
								proyect.ingenieria.proyect.finished.map(
									(proyect, index) => (
										<div class="my-6">
											<h3 class="is-size-5 mb-2">
												{proyect.title}
											</h3>
											{proyect.cliente ? (
												<p class="mb-2">
													<i class="fa-solid fa-user-tie mr-2 logo-client" />{" "}
													<b>{proyect.cliente}</b>
												</p>
											) : (
												""
											)}
											<p class="mb-2">
												<i class="fa-solid fa-location-dot mr-2 logo-client" />{" "}
												<b>{proyect.ubicacion}</b>
											</p>
											<p class="is-size-6 mb-5">
												{proyect.description}
											</p>
											<p class="mb-2">
												<b>Impacto: </b>
												{proyect.impacto}
											</p>
										</div>
									)
								)
							}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="service-ren-container">
			<div>
				<div>
					<div
						class="is-flex is-justify-content-space-around has-text-centered div-proyect-conteiner"
					>
						<div
							class="is-flex is-flex-direction-column is-justify-content-center div-proyect"
						>
							<h2 class="is-size-4 mb-5">En obra</h2>
							{
								proyect.renovables.proyect.inProgress.map(
									(proyect, index) => (
										<div class="my-6">
											<h3 class="is-size-5 mb-2">
												{proyect.title}
											</h3>
											{proyect.cliente ? (
												<p class="mb-2">
													<i class="fa-solid fa-user-tie mr-2 logo-client" />{" "}
													<b>{proyect.cliente}</b>
												</p>
											) : (
												""
											)}
											<p class="mb-2">
												<i class="fa-solid fa-location-dot mr-2 logo-client" />{" "}
												<b>{proyect.ubicacion}</b>
											</p>
											<p class="is-size-6 mb-5">
												{proyect.description}
											</p>
											<p class="mb-2">
												<b>Impacto: </b>
												{proyect.impacto}
											</p>
										</div>
									)
								)
							}
						</div>
						<div class="div-medio"></div>
						<div
							class="is-flex is-flex-direction-column is-justify-content-center div-proyect"
						>
							<h2 class="is-size-4 mb-5">Finalizados</h2>
							{
								proyect.renovables.proyect.finished.map(
									(proyect, index) => (
										<div class="my-6">
											<h3 class="is-size-5 mb-2">
												{proyect.title}
											</h3>
											{proyect.cliente ? (
												<p class="mb-2">
													<i class="fa-solid fa-user-tie mr-2 logo-client" />{" "}
													<b>{proyect.cliente}</b>
												</p>
											) : (
												""
											)}
											<p class="mb-2">
												<i class="fa-solid fa-location-dot mr-2 logo-client" />{" "}
												<b>{proyect.ubicacion}</b>
											</p>
											<p class="is-size-6 mb-5">
												{proyect.description}
											</p>
											<p class="mb-2">
												<b>Impacto: </b>
												{proyect.impacto}
											</p>
										</div>
									)
								)
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
