---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import oilgas from "../assets/img/Fotos-Serv/oilgas.jpg";
import ingelectrica from "../assets/img/Fotos-Serv/ingelectrica.jpg";
import services from "../assets/servicios.json";

const images = {
	oilgas: oilgas,
	"ing-electrica": ingelectrica,
};
---

<Layout title="4NE - Servicio">
	<main>
		<h2 class="has-text-centered is-size-2 mt-5">Servicios</h2>
		<hr class="has-background-black barra-ser" />

		{
			services.services.map((service, index) => (
				<>
					<hr class="has-background-black bar-serv" />
					<div class="card" id={`card-${index}`}>
						<header class="card-header">
							<h3 class="card-header-title is-size-3">
								{service.title}
							</h3>
							<button
								class="card-header-icon toggle-button"
								aria-label="more options"
								data-index={index}
							>
								<span class="icon">
									<i
										class="fas fa-angle-down"
										aria-hidden="true"
									/>
								</span>
							</button>
						</header>
						<div
							class="card-content is-flex is-align-items-center"
							id={`card-content-${index}`}
						>
							<div class="content mr-6 text-serv">
								<p>{service.description}</p>
								<ol>
									{service.service.map((item) => (
										<li class="ml-6 my-3">
											<b>{item.title}:</b>{" "}
											{item.description}
										</li>
									))}
								</ol>
								<p>{service.conclusion}</p>
							</div>
							<div class="img-serv">
								<Picture
									class="is-square image image-ser"
									src={images[`${service.img}`]}
									alt="Logo de 4NE"
								/>
							</div>
						</div>
					</div>
				</>
			))
		}
	</main>
</Layout>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const buttons = document.querySelectorAll(".toggle-button");
		buttons.forEach((button) => {
			button.addEventListener("click", function () {
				const index = button.getAttribute("data-index");
				const content = document.getElementById(
					`card-content-${index}`
				);
				const icon = button.querySelector(".icon i");
				if (content.classList.contains("active")) {
					content.classList.remove("active");
					icon.classList.remove("fa-angle-up");
					icon.classList.add("fa-angle-down");
				} else {
					content.classList.add("active");
					icon.classList.remove("fa-angle-down");
					icon.classList.add("fa-angle-up");
				}
			});
		});
	});
</script>
