---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import services from "../assets/servicios.json";

import oilgas from "../assets/img/Fotos-Serv/oilgas.webp";
import ingelectrica from "../assets/img/Fotos-Serv/ingelectrica.webp";
import mecanica from "../assets/img/Fotos-Serv/mecanica.webp";
import nuclear from "../assets/img/Fotos-Serv/nuclear.webp";
import agroindustria from "../assets/img/Fotos-Serv/agroindustria.webp";
import mineria from "../assets/img/Fotos-Serv/mineria.webp";
import personalizado from "../assets/img/Fotos-Serv/personalizado.webp";
import rsu from "../assets/img/Fotos-Serv/rsu.webp";
import fotovoltaica from "../assets/img/Fotos-Serv/fotovoltaica.webp";
import biogas from "../assets/img/Fotos-Serv/biogas.webp";
import biofertilizantes from "../assets/img/Fotos-Serv/biofertilizantes.webp";
import personalizadoRen from "../assets/img/Fotos-Serv/personalizadoRen.webp";

const images = {
	oilgas: oilgas,
	ingelectrica: ingelectrica,
	mecanica: mecanica,
	nuclear: nuclear,
	agroindustria: agroindustria,
	mineria: mineria,
	personalizado: personalizado,
	rsu: rsu,
	fotovoltaica: fotovoltaica,
	biogas: biogas,
	biofertilizantes: biofertilizantes,
	personalizadoRen: personalizadoRen,
};

const cantServIng = services.ingenieria.services.length;
---

<Layout title="Servicios de Ingeniería en Energías Renovables, Oil & Gas - 4NE" description="Ofrecemos servicios de ingeniería para proyectos de energías renovables, oil & gas, consultoría EPC y más. Contáctanos para conocer nuestros servicios personalizados.">
	<script src="../scripts/changeType.js"></script>
	<main>
		<h1 class="has-text-centered is-size-3 mt-5" id="title-secction-ing">
			Servicios - Ingenieria
		</h1>
		<div id="service-ing-container">
			{
				services.ingenieria.services.map((service, index) => (
					<>
						<hr class="has-background-black" />
						<div class="serv-card" id={`card-${index}`}>
							<header class="card-header">
								<h2 class="card-header-title is-size-4">
									{service.title}
								</h2>
								<button
									class="card-header-icon toggle-button"
									aria-label="more options"
									data-index={index}
								>
									<span class="icon">
										<i
											class="fas fa-angle-down"
											aria-hidden="true"
										/>
									</span>
								</button>
							</header>
							<div
								class="card-content card-content-serv is-flex is-align-items-center"
								id={`card-content-${index}`}
							>
								<div class="content content-serv text-serv">
									<p>{service.description}</p>
									<h3>
										<b class="title-type-service is-size-5">Servicios ofrecidos:</b>
									</h3>
									<ol>
										{service.service.map((item) => (
											<li class="my-3">
												<b>{item.title}:</b>{" "}
												{item.description}
											</li>
										))}
									</ol>
									<p>{service.conclusion}</p>
								</div>
								<div class="img-serv">
									<Image
										class="is-square image image-ser"
										src={images[service.img]}
										alt={service.title}
									/>
								</div>
							</div>
						</div>
					</>
				))
			}
		</div>

		<div id="service-ren-container">
			{
				services.renovables.services.map((service, index) => (
					<>
						<hr class="has-background-black" />
						<div
							class="serv-card"
							id={`card-${index + cantServIng}`}
						>
							<header class="card-header">
								<h2 class="card-header-title is-size-4">
									{service.title}
								</h2>
								<button
									class="card-header-icon toggle-button"
									aria-label="more options"
									data-index={index + cantServIng}
								>
									<span class="icon">
										<i
											class="fas fa-angle-down"
											aria-hidden="true"
										/>
									</span>
								</button>
							</header>
							<div
								class="card-content card-content-serv is-flex is-align-items-center"
								id={`card-content-${index + cantServIng}`}
							>
								<div class="content content-serv text-serv">
									<p>{service.description}</p>
									<h3>
										<b class="title-type-service is-size-5">Servicios ofrecidos:</b>
									</h3>
									<ol>
										{service.service.map((item) => (
											<li class="my-3">
												<b>{item.title}:</b>{" "}
												{item.description}
											</li>
										))}
									</ol>
									<p>{service.conclusion}</p>
								</div>
								<div class="img-serv">
									<Image
										class="is-square image image-ser"
										src={images[service.img]}
										alt={service.title}
									/>
								</div>
							</div>
						</div>
					</>
				))
			}
		</div>
	</main>
</Layout>

